streamlit
streamlit-chat
PyPDF2
python-pptx
docx2txt
python-magic
python-magic-bin
requests
beautifulsoup4
gtts
pyvis
networkx
python-dotenv
streamlit-option-menu
streamlit-extras
langchain
langchain-community
langchain-core
langchain-google-genai
bs4
pypdf
docx2txt
python-pptx
langchain-text-splitters
chromadb
langchain-experimental
matplotlib
tavily-python
langchain-tavily